<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize "SAB.item.sheet.name-placeholder"}}"
        />
      </h1>

        <input
            type="hidden"
            name="system.roll.diceNum"
            value="1"
            data-dtype="Number"
            readonly
        />

      <div>
        <div class="resource item-info">
            <div>
                <label>{{localize "SAB.item.sheet.quantity"}}</label>
                <input
                    type="text"
                    name="system.quantity"
                    value="{{system.quantity}}"
                    data-dtype="Number"
                />
            </div>

            <div>
                <label>{{localize "SAB.item.sheet.weight"}}</label>
                <select name="system.weight" data-dtype="Number">
                    <option value="0" {{#if (eq system.weight 0)}}selected{{/if}}>0</option>
                    <option value="1" {{#if (eq system.weight 1)}}selected{{/if}}>1</option>
                    <option value="2" {{#if (eq system.weight 2)}}selected{{/if}}>2</option>
                </select>
            </div>
        </div>

        <div class="resource item-info">
            <div>
                <label>{{localize "SAB.item.sheet.die-size"}}</label>
                <select name="system.roll.diceSize" data-dtype="String">
                    <option value="" {{#if (eq system.roll.diceSize "")}}selected{{/if}}>
                        {{localize "SAB.item.sheet.die-size-placeholder"}}
                    </option>
                    <option value="d4" {{#if (eq system.roll.diceSize "d4")}}selected{{/if}}>d4</option>
                    <option value="d6" {{#if (eq system.roll.diceSize "d6")}}selected{{/if}}>d6</option>
                    <option value="d8" {{#if (eq system.roll.diceSize "d8")}}selected{{/if}}>d8</option>
                    <option value="d10" {{#if (eq system.roll.diceSize "d10")}}selected{{/if}}>d10</option>
                    <option value="d12" {{#if (eq system.roll.diceSize "d12")}}selected{{/if}}>d12</option>
                </select>
            </div>

            <div>
                <label>{{localize "SAB.item.sheet.roll-modifier"}}</label>
                <input
                    type="text"
                    name="system.roll.diceBonus"
                    value="{{#if system.roll.diceSize}}{{system.roll.diceBonus}}{{/if}}"
                    data-dtype="String"
                    {{#unless system.roll.diceSize}}
                        disabled
                    {{/unless}}
                />
            </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <textarea name="system.description" rows="10" placeholder="{{localize "SAB.item.sheet.description-placeholder"}}">{{system.description}}</textarea>
  </section>
</form>
